In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datos_clean.csv')

In [3]:
df.columns

Index(['fecha_alta', 'edad', 'estado_civil', 'ocupacion', 'escolaridad',
       'estado_usuaria', 'municipio_usuaria', 'colonia_usuaria', 'cp_usuaria',
       'estado_hechos', 'municipio_hechos', 'colonia_hechos', 'cp_hechos',
       'tematica_1', 'tematica_2', 'tematica_3', 'sufrio_violencia_genero'],
      dtype='object')

In [4]:
df.drop('estado_usuaria', axis=1, inplace=True)
df.drop('municipio_usuaria', axis=1, inplace=True)
df.drop('colonia_usuaria', axis=1, inplace=True)
df.drop('estado_hechos', axis=1, inplace=True)
df.drop('colonia_hechos', axis=1, inplace=True)

In [5]:
df.drop('municipio_hechos', axis=1, inplace=True)

In [6]:
df['fecha_alta'] = pd.to_datetime(df['fecha_alta'])

In [7]:
nuevo_df = df.loc[(df['fecha_alta'].dt.year != 2016) & (df['fecha_alta'].dt.year != 2017)]

In [8]:
nuevo_df.columns

Index(['fecha_alta', 'edad', 'estado_civil', 'ocupacion', 'escolaridad',
       'cp_usuaria', 'cp_hechos', 'tematica_1', 'tematica_2', 'tematica_3',
       'sufrio_violencia_genero'],
      dtype='object')

In [9]:
nuevo_df['fecha_alta'].min()

Timestamp('2018-01-01 00:00:00')

In [10]:
nuevo_df.to_csv('datos_cortos.csv', index=False)

In [11]:
nuevo_df = pd.read_csv('datos_cortos.csv')

In [12]:
nuevo_df.drop('fecha_alta', axis=1, inplace=True)

In [13]:
nuevo_df.drop('tematica_1', axis=1, inplace=True)
nuevo_df.drop('tematica_2', axis=1, inplace=True)
nuevo_df.drop('tematica_3', axis=1, inplace=True)

In [14]:
nuevo_df.dtypes

edad                        int64
estado_civil               object
ocupacion                  object
escolaridad                object
cp_usuaria                  int64
cp_hechos                   int64
sufrio_violencia_genero    object
dtype: object

In [15]:
nuevo_df['edad'] = nuevo_df['edad'].astype(str)
nuevo_df['cp_usuaria'] = nuevo_df['cp_usuaria'].astype(str)
nuevo_df['cp_hechos'] = nuevo_df['cp_hechos'].astype(str)

In [16]:
nuevo_df.dtypes

edad                       object
estado_civil               object
ocupacion                  object
escolaridad                object
cp_usuaria                 object
cp_hechos                  object
sufrio_violencia_genero    object
dtype: object

In [17]:
nuevo_df.head()

,edad,estado_civil,ocupacion,escolaridad,cp_usuaria,cp_hechos,sufrio_violencia_genero
0,50,SOLTERO (A),DESEMPLEADO (A),SECUNDARIA,8500,8500,No
1,33,CONCUBINATO,HOGAR,BACHILLERATO,9230,0,Sí
2,53,CASADO (A),HOGAR,LICENCIATURA,8700,8700,No
3,35,CASADO (A),HOGAR,SECUNDARIA,9708,9708,No
4,32,SOLTERO (A),EMPLEADO (A),BACHILLERATO,14657,14657,No

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [19]:
nuevo_df = pd.get_dummies(df, drop_first=True)

In [20]:
nuevo_df.columns

Index(['fecha_alta', 'edad', 'cp_usuaria', 'cp_hechos',
       'estado_civil_CONCUBINATO', 'estado_civil_SOLTERO (A)',
       'estado_civil_UNIÓN LIBRE', 'ocupacion_DESEMPLEADO (A)',
       'ocupacion_EMPLEADA DEL HOGAR(REMUNERADO)', 'ocupacion_EMPLEADO (A)',
       ...
       'tematica_3_VIOLENCIA DOCENTE A ESTUDIANTE',
       'tematica_3_VIOLENCIA ENTRE PARES',
       'tematica_3_VIOLENCIA ESTUDIANTE A DOCENTE',
       'tematica_3_VIOLENCIA FAMILIAR', 'tematica_3_VIVIENDA',
       'tematica_3_VPH', 'tematica_3_VÍA PÚBLICA', 'tematica_3_XTASIS',
       'tematica_3_ZOOFILIA', 'sufrio_violencia_genero_Sí'],
      dtype='object', length=1010)

In [21]:
nuevo_df.head()

,fecha_alta,edad,cp_usuaria,cp_hechos,estado_civil_CONCUBINATO,estado_civil_SOLTERO (A),estado_civil_UNIÓN LIBRE,ocupacion_DESEMPLEADO (A),ocupacion_EMPLEADA DEL HOGAR(REMUNERADO),ocupacion_EMPLEADO (A),...,tematica_3_VIOLENCIA DOCENTE A ESTUDIANTE,tematica_3_VIOLENCIA ENTRE PARES,tematica_3_VIOLENCIA ESTUDIANTE A DOCENTE,tematica_3_VIOLENCIA FAMILIAR,tematica_3_VIVIENDA,tematica_3_VPH,tematica_3_VÍA PÚBLICA,tematica_3_XTASIS,tematica_3_ZOOFILIA,sufrio_violencia_genero_Sí
0,2016-11-01,54,7469,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2016-11-01,42,55130,7330,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2016-11-01,40,2100,2100,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
3,2016-11-01,55,2800,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2016-11-01,52,1730,1730,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [22]:
nuevo_df.drop('fecha_alta', axis=1, inplace=True)

In [23]:
X = nuevo_df.drop('sufrio_violencia_genero_Sí', axis=1)
y = nuevo_df['sufrio_violencia_genero_Sí']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [25]:
y_pred = clf.predict(X_test)

In [26]:
print('Precisión:', precision_score(y_test, y_pred))
print('Sensibilidad:', recall_score(y_test, y_pred))
print('Puntuación F1:', f1_score(y_test, y_pred))

Precisión: 1.0
Sensibilidad: 0.9986389928547125
Puntuación F1: 0.9993190330268983